.select-container {
  display: block;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .select-container {
    display: none;
  }
}

/* ToggleSWitch Style Rules */

.toggle-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.switch {
  position: relative;
  width: 48px;
  height: 24px;
}

.slider {
  position: absolute;
  inset: 0;
  background-color: #d1d5db;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.4s;
}

.slider::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

input:checked + .slider {
  background-color: #00a3ad;
}

input:checked + .slider::before {
  transform: translateX(24px);
}
