.header {
  margin-bottom: 70px;
}
.navbar {
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  background: #00a3ad;
  color: #ffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 73px;
}

.logo {
  width: 200px;
  height: auto;
}
.navbar-list-right {
  display: flex;
  font-weight: 500;
  gap: 50px;
}
