.shared-layout-inner-contents {
  display: flex;
  padding: 50px 20px 10px 20px;
  width: 100%;
  margin-inline: auto;
  max-width: 1270px;
}

.sidebar-container {
  flex-basis: 19%;
}

.outlet-container {
  max-width: 1000px;
  border: 1px solid #e6e6e6;
  background-color: #ffff;
  overflow: hidden;
  border-radius: 8px;
  flex-basis: 80%;
  flex-direction: column;
}
