.sidebar {
  max-width: 200px;
  background: #fcfcfc;
  padding: 16px;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 12px;
  cursor: pointer;
  font-weight: 600;

  transition: all 0.2s;
  color: #b2b2b2;
  /* color: #026786; */
  border-left: 3px solid transparent;
}

.nav-item.active {
  border-left-color: #00a3ad;

  font-weight: 500;
  color: #00a3ad;
}

.check-icon {
  font-size: 18px;
  width: 12px;
  height: 12px;
  padding: 2px;
  border-radius: 50%;
  background: #3b82f6;
  color: white;
}
