.footer {
  padding: 10px 20px;
  display: flex;
  justify-content: right;
  width: 100%;
}

.footer-container {
  border-top: 2px solid #e6e6e6;
}

.next-btn {
  color: #00a3ad;
  border: 3px solid transparent;
  background-color: #fbd745;
  padding: 4px;
  height: 60px;
  width: 100%;

  border-radius: 4px;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.7s ease-in-out;
}

.next-btn:hover {
  border: 3px solid #00a3ad;
  background-color: #ffcd05;
}

@media (min-width: 768px) {
  .next-btn {
    max-width: 301px;
  }

  .footer {
    padding: 10px 26px 50px;

    max-width: 80%;
  }
}
